*.ust
/Debug
/.idea
*.ustx
/build
/dist
*.pyc
hiro_tester.log
*.log
/archive
/build_opt
/archive
*.spec
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# virtualenv
.venv/

# Backup/archives
backup/
artifacts_backup.zip

# Editor directories
.vscode/
.idea/

# Other
Export/
build_opt/
/wiki
/Release Notes
/node_modules
